In [1]:
import numpy as np 
import pandas as pd
import json

In [2]:
meta = pd.read_csv('C:\\Users\\ham3798\\Documents\\python\\exam_metadata.csv')

meta.head()

,genres,id,title,wrong_answer_rate,vote_like
0,"[{'id': 1, 'name': 'union event'}, {'id': 2, '...",1,one,0.35,50
1,"[{'id': 6, 'name': 'conditional probability'},...",2,two,6.90,32
2,"[{'id': 1, 'name': 'union event'}, {'id': 2, '...",3,three,6.50,45
3,"[{'id': 1, 'name': 'union event'}]",4,four,6.10,24
4,"[{'id': 1, 'name': 'union event'}]",5,five,5.70,34

In [3]:
meta = meta[['id', 'title', 'genres']]
meta = meta.rename(columns={'id':'problemid'})
meta.head()

   problemid  title                                             genres
0          1    one  [{'id': 1, 'name': 'union event'}, {'id': 2, '...
1          2    two  [{'id': 6, 'name': 'conditional probability'},...
2          3  three  [{'id': 1, 'name': 'union event'}, {'id': 2, '...
3          4   four                 [{'id': 1, 'name': 'union event'}]
4          5   five                 [{'id': 1, 'name': 'union event'}]

In [4]:
ratings = pd.read_csv('C:\\Users\\ham3798\\Documents\\python\\ratings___small.csv')
ratings = ratings[['userId', 'problemid', 'rating']]
ratings.head()

   userId  problemid  rating
0       1          1     2.5
1       1          2     3.0
2       1          5     3.0
3       1          8     2.0
4       1          9     4.0

In [5]:
ratings.describe()

           userId   problemid      rating
count  999.000000  999.000000  999.000000
mean    42.748749   12.166166    3.696697
std     25.824208    7.088081    1.030399
min      1.000000    1.000000    0.500000
25%     22.000000    6.000000    3.000000
50%     39.000000   12.000000    4.000000
75%     62.000000   18.000000    4.500000
max    100.000000   25.000000    6.000000

In [6]:
meta.problemid = pd.to_numeric(meta.problemid, errors='coerce')
ratings.problemid = pd.to_numeric(ratings.problemid, errors='coerce')

In [7]:
def parse_genres(genres_str):
    genres = json.loads(genres_str.replace('\'', '"'))
    
    genres_list = []
    for g in genres:
        genres_list.append(g['name'])

    return genres_list

meta['genres'] = meta['genres'].apply(parse_genres)

meta.head()

   problemid  title                                          genres
0          1    one    [union event, product event, de morgans law]
1          2    two  [conditional probability, a case of treachery]
2          3  three  [union event, product event, additive theroem]
3          4   four                                   [union event]
4          5   five                                   [union event]

In [8]:
data = pd.merge(ratings, meta, on='problemid', how='inner')

data.head()

,userId,problemid,rating,title,genres
0,1,1,2.5,one,"[union event, product event, de morgans law]"
1,2,1,2.5,one,"[union event, product event, de morgans law]"
2,3,1,4.0,one,"[union event, product event, de morgans law]"
3,4,1,3.0,one,"[union event, product event, de morgans law]"
4,8,1,3.0,one,"[union event, product event, de morgans law]"

In [9]:
matrix = data.pivot_table(index='userId', columns='title', values='rating')

matrix.head(20)

title,eight,eightteen,eleven,fifteen,five,four,fourteen,nine,nineteen,one,...,thirteen,three,twelve,twenty,twentyfive,twentyfour,twentyone,twentythree,twentytwo,two
userId,,,,,,,,,,,,,,,,,,,,,
1,2.0,3.5,2.0,2.0,3.0,NaN,2.0,4.0,NaN,2.5,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,3.0
2,NaN,NaN,NaN,NaN,4.0,NaN,NaN,3.0,3.0,2.5,...,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,NaN,4.0,4.0,NaN,5.0,5.0,3.0,NaN,4.0,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4,3.0,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,5.0,NaN,3.0,NaN,5.0,4.0,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
6,NaN,NaN,NaN,NaN,4.0,3.0,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0
7,NaN,NaN,NaN,3.0,NaN,3.0,NaN,4.0,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3.0,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,3.0,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,3.0,NaN,2.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,4.0,NaN,NaN,3.0
10,NaN,NaN,4.0,3.0,NaN,4.0,NaN,4.0,NaN,5.0,...,NaN,NaN,NaN,5.0,3.0,3.0,3.0,3.0,5.0,4.0
11,4.0,NaN,3.0,NaN,NaN,3.0,4.0,NaN,4.5,5.0,...,NaN,NaN,NaN,NaN,5.0,2.5,NaN,5.0,NaN,NaN
12,2.0,4.0,4.0,3.0,3.0,NaN,5.0,NaN,4.0,2.5,...,3.0,3.0,4.0,NaN,4.0,4.5,3.0,3.5,4.0,3.0
13,4.0,NaN,NaN,3.0,NaN,3.5,5.0,5.0,NaN,NaN,...,4.0,3.0,NaN,3.0,3.5,3.0,2.5,3.5,3.0,3.5
14,4.0,NaN,5.0,NaN,4.5,4.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5
15,5.0,5.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,5.0,...,5.0,5.0,NaN,NaN,3.0,3.0,5.0,4.0,5.0,NaN
16,4.0,NaN,5.0,3.0,4.0,1.0,5.0,5.0,4.0,3.0,...,NaN,4.0,NaN,5.0,NaN,NaN,5.0,4.0,5.0,NaN
17,5.0,NaN,5.0,NaN,4.0,4.0,NaN,NaN,NaN,5.0,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,6.0,5.0,1.0,NaN,NaN,5.0,3.0,2.0,5.0,4.0,...,4.0,5.0,NaN,5.0,NaN,NaN,5.0,NaN,5.0,NaN
19,NaN,5.0,NaN,5.0,NaN,5.0,NaN,5.0,NaN,5.0,...,5.0,5.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
20,NaN,5.0,NaN,5.0,4.0,5.0,NaN,4.0,NaN,5.0,...,4.0,NaN,4.0,4.0,5.0,5.0,3.0,4.0,NaN,4.0

In [10]:
GENRE_WEIGHT = 0.15

def pearsonR(s1, s2):
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

def recommend(input_movie, matrix, n, similar_genre=True):
    input_genres = meta[meta['title'] == input_movie]['genres'].iloc(0)[0]

    result = []
    for title in matrix.columns:
        if title == input_movie:
            continue

        # rating comparison
        cor = pearsonR(matrix[input_movie], matrix[title])
        
        # genre comparison
        if similar_genre and len(input_genres) > 0:
            temp_genres = meta[meta['title'] == title]['genres'].iloc(0)[0]

            same_count = np.sum(np.isin(input_genres, temp_genres))
            cor += (GENRE_WEIGHT * same_count)
        
        if np.isnan(cor):
            continue
        else:
            result.append((title, '{:.2f}'.format(cor), temp_genres))
            
    result.sort(key=lambda r: r[1], reverse=True)

    return result[:n]

In [11]:
recommend_result = recommend('one', matrix, 10, similar_genre=True)

pd.DataFrame(recommend_result, columns = ['Title', 'Correlation', 'Genre'])

        Title Correlation                                              Genre
0         ten        0.55  [union event, product event, conditional proba...
1       three        0.50     [union event, product event, additive theroem]
2       eight        0.45                                      [union event]
3    fourteen        0.36                      [independent, de morgans law]
4   eightteen        0.31                               [Bayes organization]
5         six        0.29                                      [union event]
6     sixteen        0.29                                      [union event]
7  twentyfour        0.28     [sampling without replacedment, product event]
8        four        0.26                                      [union event]
9      twenty        0.25                                [total probability]